@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

h1, h2, h3 {
    font-family: 'Fredoka One', sans-serif;
    color: #211230;

}

p {
    font-family: 'Open Sans', sans-serif;
    color: #211230;
}

main{
  padding-top: 100px;
}

body{
    margin: 0px;
    background-image: url(../img/Bachroundimage.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
    font-size: 40px;
}

.shadow-button {
    border: none;
    border-radius: 5px;
    color: #211230;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 15px 32px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0px rgba(33, 18, 48, 1);
    transition: background-color 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease;
}

.shadow-button:hover{
    background-color: #D77F8F;
    box-shadow: none;
}

.cardNotClick{
    background-color: #fefafd;
    padding: 10px 20px;
    margin: auto;
    font-family: 'poppins bold', sans-serif;
    max-width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0px rgba(33, 18, 48, 1);
}

.options-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.activity{
    margin-bottom: 0px;
}
.Bildcard{
    margin: 10px;
    max-width: 80%;
}

.logo{
    margin: 10px;
    max-width: 10%;
}