@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

h1, h2, h3 {
    font-family: 'Fredoka One', sans-serif;
    color: #211230;

}

h1{
    font-size: 48px;
}
h2{
    font-size: 36px;
}
h3{
    font-size: 24px;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #211230;
    font-size: 18px;
}

main{
  padding-top: 50px;
    width: 1000px;
    margin: auto;
}

body{
    margin: 0px;
    background-color: #E5BABA;
}




.shadow-button {
    border: none;
    border-radius: 5px;
    background-color: #24e050;
    color: #211230;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 15px 32px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0px rgba(33, 18, 48, 1);
    transition: background-color 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Open Sans', sans-serif;
}

.shadow-button:hover{
    background-color: #B2D0E2;
    box-shadow: none;
}

.cardNotClick{
    background-color: #fefafd;
    padding: 10px 20px;
    margin: auto;
    font-family: 'poppins bold', sans-serif;
    max-width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0px rgba(33, 18, 48, 1);
}



/* Stpper Option Date */

.content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.options-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cardClickable{
    background-color: #fefafd;
    padding: 10px 20px;
    margin: 20px;
    font-family: 'poppins bold', sans-serif;
    width: 20%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    box-shadow: 0 4px 8px 0px rgba(33, 18, 48, 1);
    cursor: pointer;
}

.cardClickable:hover {
    transform: scale(1.05);
}

.cardClickable img.logo{
    width: 50px; /* Logo width */
    height: 50px;
}


.format {
    width:calc(100% - 20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 10px;
    padding: 0px 10px;

}

    .activity{
    margin-bottom: 0px;
}
.Bildcard{
    margin: 10px;
    max-width: 80%;
}

.logo{
    margin: 10px;
    max-width: 10%;
}